@import "main.scss";
$topNavHeight: 70px;
$leftNavWidth: 240px;
$btnSuccess: #26C6DA;
$btnPrimary: #1E88E5;
.jz-table-warning{
	background-color: #fbd69f !important;
	text-align: center;
}
// 登录页
.page-login .form_camera {
  text-align: center;
}

.page-login .el-row {
  position: relative;
}

.page-login .sm-top-img,
{
  margin-top: 3%;
}

.page-login .sm-top-img-1 {
  margin-top: 3%;
  text-align: center;
}

.page-login .sm-top-img-2 {
  text-align: center;
  margin-top: 10px;
}

.page-login .el-input .el-input__inner {
  padding-left: 30px;
  border-radius: 4px;
}

.page-login .userImg .el-input__inner {
  background: url(../../lib/img/loginImg/user.png) no-repeat 4px;
  background-color: rgb(230, 231, 233);
}

.page-login .pwdImg .el-input__inner {
  background: url(../../lib/img/loginImg/pwd-i.png) no-repeat 4px;
  background-color: rgb(230, 231, 233);
}

.page-login .verifiImg .el-input__inner {
  background: url(../../lib/img/loginImg/yanzhengma.png) no-repeat 4px;
  background-color: rgb(230, 231, 233);
}

.page-login .btn {
  width: 100%;
  border-radius: 5px;
}

.page-login .bannerDiv {
  width: 100%;
  overflow: hidden;
  background-color: #3C8DBC;
  text-align: center;
}

.page-login .card-box {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #F9FAFC;
}

.page-login .title {
  margin: 0px auto 6% auto;
  text-align: center;
  color: rgb(60, 141, 188);
}



.page-login footer {
  width: 100%;
  background-color: #333333;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 75px;
  position: fixed;
  bottom: 0;
}

.app-index {
  &.mini-sidebar {
    .top-nav-bar .navbar-header {
      width: 64px;
    }
    .main-container{
      padding-left: 64px;
    }
    .top-nav-bar .navbar-header .navbar-brand {
      display: none;
    }
  }
  .el-menu-vertical {
    background-color: #fff;
    overflow-y: auto;
    .el-submenu .el-menu {
      box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.08);
      background-color: #fff;
    }
  }
  .el-menu-vertical:not(.el-menu--collapse) {
    width: $leftNavWidth;
    min-height: 400px;
  }
  .store-head{
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }
  .store-review{
    &>div{
      text-align: center;
    }
    width: 80px;
    margin-left: 15px;
    color: #606266;
    .review-val{
      text-align: center;
      color: $mainColor;
      font-weight: bolder;
    }
  }
  .left-bar-head{
    width: $leftNavWidth;
    height: 160px;
    position: relative;
    background: url(../../lib/img/indexImg/banner@2x.png) no-repeat center center;
    .head-pic{
      width: 50px;
      height: 50px;
      position: absolute;
      top: 30px;
      left: 30px;
      border-radius: 50%;
    }
    .head-content{
      position: absolute;
      bottom: 0;
      height: 36px;
      line-height: 36px;
      background: rgba(12,25,36, 0.5);
      color: #fff;
      width: $leftNavWidth;
      padding-left: 15px;
    }
  }
  .head-pic-small{
    width: 64px;
    height: 64px;
  }
  .metismenu {
    width: $leftNavWidth;
    padding: 10px;
    padding-bottom: 250px;
    background-color: #fff;
    transition: width .3s ease-out;
    -moz-transition: width .3s ease-out;
    /* Firefox 4 */
    -webkit-transition: width .3s ease-out;
    /* Safari 和 Chrome */
    -o-transition: width .3s ease-out;
    /* Opera */
    .collapse.in,
    .collapsing {
      // background-color: rgba(0, 0, 0, 0.08);
      padding-left: 13px;
    }
    &.menu-collapse {
      padding: 0;
      width: 64px;
      a {
        .nav-title {
          display: none;
        }
      }
      li{
        a{
          border-radius: 0;
        }
      }
      
    }
    a{
      height: 40px;
      line-height: 40px;
    }
    .child-ul{
      a{
        height: 35px;
        line-height: 35px;
      }
    }
    &.menu-not-collapse{
      .child-ul{
        .iconfont{
          display: none;
        }        
      }      
    }
    li {
      &.active {
        border-bottom: 1px solid #EDEFF0;padding-bottom: 10px;margin-bottom: 10px;
      }
      &.active>a {
        // background-color: #26C6DA;
        color: #26C6DA;
        // color: #ffffff;
        &:after {
          // color: #ffffff;
          color: #26C6DA;
        }
        i {
          // color: #ffffff;
          color: #26C6DA;
        }
      }
      a {
        position: relative;
        display: block;
        padding: 2px 12px;
        text-decoration: none;
        color: #99abb4;
        border-bottom: 1px solid #ffffff;
        border-radius: 5px;
        &:after {
          color: #99abb4;
        }
        img {
          height: 28px;
        }
        img.icon-a {
          display: none;
        }
        i {
          color: #99abb4;
        }
        .nav-title {
          // position: absolute;
          // top: 20px;
          // left: 35px;
          transition: opacity .3s;
          -moz-transition: opacity .3s;
          /* Firefox 4 */
          -webkit-transition: opacity .3s;
          /* Safari 和 Chrome */
          -o-transition: opacity .3s;
          /* Opera */
          margin-left: 15px;
        }
        .iconfont {
          font-size: 18px;
        }
        &.active,
        // &:hover {          
        //   color: #ffffff;
        //   &:after {
        //     color: #ffffff;
        //   }
        //   i {
        //     color: #ffffff;
        //   }
        // }
        &:hover {          
          color: #26C6DA;
          &:after {
            color: #26C6DA;
          }
          i {
            color: #26C6DA;
          }
        }
        &.active {
          background-color: #26C6DA;
          color: #fff;
           &:after {
            color: #26C6DA;
          }
          i {
            color: #fff;
          }

        }
        // &:hover {
        //   background-color: #d1dbe5;
        // }
      }
    }
  }
  .left-nav-bar {
    z-index: 20;
    position: fixed;
    padding-top: $topNavHeight;
    height: 100%;
    min-height: 100%;
    top: 0;
    transition: 0.05s ease-in;
    background: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    border: 0px;
    .togg-nav {
      height: 64px;
      font-size: 16px;
      cursor: pointer;
      padding-left: 24px;
      &:hover {
        background-color: #d1dbe5;
      }
    }
  }
  .top-nav-bar {
    font-size: 16px;
    .user-head-pic{
      height: 48px;width: 48px;border-radius: 50%;
    }
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: $mainColor;
    z-index: 50;
    padding-left: 0;
    .navbar-left {
      height: $topNavHeight;
      line-height: $topNavHeight;
    }
    .navbar-header {
      width: $leftNavWidth;
      height: $topNavHeight;
      line-height: $topNavHeight;
      text-align: center;
      background-color: #1C81D9;
    }
    .nav-btn {
      cursor: pointer;
      color: #ffffff;
      height: $topNavHeight;
      line-height: $topNavHeight;
      padding-left: 15px;
      padding-right: 15px;
    }
    .navbar-brand {
      display: inline-block;
      font-weight: bolder;
      padding-top: 0;
      padding-bottom: 0;
      margin-right: 0;
      font-size: 16px;
      line-height: inherit;
      white-space: nowrap;
    }
    .user-info{
      .iconfont{
        font-size: 23px;
      }
    }



    .dropdown-toggle {
      color: #ffffff;
      text-decoration: none;
      display: block;
      height: $topNavHeight;
      line-height: $topNavHeight;
      min-width: 56px;
      text-align: center;
      position: relative;
      &::after {
        display: none;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.08)
      }
      .b-peter-river {
        border-color: #3498db !important;
      }
      .bg-carrot {
        background-color: #e67e22 !important;
        color: #fff;
      }
      .icon-tips {
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        border-width: 3px;
        border-style: solid;
        border-color: inherit;
        border-radius: inherit;
        -webkit-animation-name: waves;
        animation-name: waves;
        -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }
      .point {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        top: 9px;
        right: 9px;
        .icon-tips {
          top: -150%;
          left: -150%;
          width: 400%;
          height: 400%;
        }
      }
      .b-orange {
        border-color: #f39c12 !important;
      }
      .label-primary {
        background-color: #337ab7;
      }
      .label {
        position: absolute;
        top: 6px;
        right: 6px;
        display: inline;
        padding: 0em .5em 0em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
      }
    }
    .nav-item {
      height: 100%;
      position: relative;
      &.nav-map {
        .dropdown-menu {
          left: -345px;
        }
      }
    }
    .el-dropdown {
      color: #fff;
      cursor: pointer;
    }
  }
  .bottom-nav-bar {
    height: 56px;
    .bottom-text {
      color: #8b8b8b;
    }
  }
  .main-container{
    padding-top: $topNavHeight;
    padding-left: $leftNavWidth; // padding-bottom: 76px;
    padding-bottom: 20px;
    transition: padding .3s ease-out;
    -moz-transition: padding .3s ease-out;
    /* Firefox 4 */
    -webkit-transition: padding .3s ease-out;
    /* Safari 和 Chrome */
    -o-transition: padding .3s ease-out;
    /* Opera */
  }
  .bread-box {
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    .page-title {
      color: $mainColor;
      font-size: 21px;
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .log-out {
      padding: 0.15rem 1.5rem;
    }
    .current-page {
      font-weight: bolder;
    }
    .el-breadcrumb__item:last-child .el-breadcrumb__item__inner,
    .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a,
    .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a:hover,
    .el-breadcrumb__item:last-child .el-breadcrumb__item__inner:hover {
      color: #28a745;
    }
    .c-page {
      font-weight: bolder;
      color: $mainColor;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .c-model {
      color: #8b8b8b;
      &.days{
        padding-bottom: 10px;
      }
      .days{
        color: $mainColor;
        font-weight: bolder;
      }
    }
    .xiegang {
      margin-left: 3px;
      margin-right: 3px;
    }
  }
  .page-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ffffff;
    // padding-top: 20px;
    .top-box {
      padding-top: 15px;
      padding-bottom: 15px;
      .jz-btn {
        margin-left: 20px;
      }
    }
    .top-box {
      .name {
        font-size: 16px;
        color: $mainColor;
      }
    }
    .option-items {
      padding: 10px;
      .left-items {
        float: left;
      }
      .right-items {
        float: right;
      }
    }
    .option-box {
      padding-bottom: 15px;
      height: 45px;
      float: left;
      .name {
        margin-right: 10px;
        display: inline-block;
        width: 120px;
        text-align: right;
      }
      .option-name {
        margin-right: 30px;
        cursor: pointer;
        &:hover {
          color: $mainColor;
        }
        &.active {
          color: $mainColor;
        }
      }
      .el-input {
        width: 320px;
      } //    .el-input__icon {
      //      color: #26c6da;
      //      cursor: pointer;
      //    }
      .btns {
        width: 100%;
      }
      .btns-box {
        .jz-btn {
          margin-left: 10px;
        }
      }
      .el-checkbox__inner:hover {
        border: 1px solid #8d9ea7;
        transition: all 0.30s ease-in-out;
      }
      .el-checkbox__inner {
        transition: all 0.30s ease-in-out;
      }
      .el-checkbox__input.is-checked .el-checkbox__inner {
        background: #39a93e;
        border-color: #39a93e;
      }
      .el-checkbox__input.is-focus .el-checkbox__inner {
        border-color: #39a93e;
      }
    }
    .data-grid {
      border: 1px solid #cccccc;
    }
    .elem-table {
      padding: 10px;
    }
    .el-table {
      label.el-checkbox {
        margin-bottom: 0;
      }
    }
  }
  .icon-fanhuidingbu {
    color: #ffffff;
  }
  .back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 9999999;
    height: 40px;
    width: 40px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.08)
    }
  }
  @keyframes waves {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      opacity: 0.0;
    }
    25% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      opacity: 0.1;
    }
    50% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 0.3;
    }
    75% {
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0.0;
    }
  }
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  .animated-slw {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}

.jz-modal {
  .el-dialog__header {
    background-color: $mainColor;
    color: #ffffff;
    padding: 0;
    padding-left: 20px;
    height: 60px;line-height: 60px;
    .el-dialog__title,
    .el-dialog__close.el-icon.el-icon-close {
      color: #ffffff;
    }
    .el-dialog__headerbtn{
      top: 0;
      right: 0;
      padding-left: 20px;padding-right: 20px;
      &:hover{
        background-color: rgba(255, 255, 255, 0.3)
      }
    }
  }
  .dialog-footer {
    .jz-btn-gray {
      margin-right: 10px;
    }
  }
  .tlt {
    padding-bottom: 15px;
    border-bottom: 1px solid $grayColor;
  }
  .row-block{

  }
  .el-form-item{
    width: 100%;
  }
  .el-form-item__content{
    &>.el-input, &>.el-select, &>.el-cascader, &>div:not(.el-checkbox-group){
      width: 220px;
    }
    &>div{
      word-break:break-all;
    }    
  }
  .el-form-item.form-item {
    width: 280px;
  }
  .el-select {
    .el-input {
      .el-input__icon {
        top: 0;
      }
    }
  }
  .el-tree-node {
    .el-tree-node__content>.el-tree-node__expand-icon {
      &:before {
        // content: '';
      }
    }
    .el-checkbox {
      margin-bottom: 0;
    }
  }
}

.el-input.el-pagination__editor.is-in-pagination {
  border: none;
}

.el-pager li.active {
  border-color: $mainColor;
  background-color: $mainColor;
  color: #fff;
  cursor: default;
}
.el-loading-spinner{
  .el-icon-loading, .el-loading-text{
    color: $mainColor;
  }
}
.el-table{
  .el-table__body{
    .el-table__row{
      &.current-row>td{
        background-color: $mainColor;
        color: #ffffff;
      }
      &.error-row, &.error-row:hover, &.error-row:hover>td{
        background-color: RGBA(252, 75, 108, 0.3)
      }
      &.editable-row, &.editable-row:hover, &.editable-row:hover>td{
        background-color: RGBA(103, 194, 58, 0.3)
      }
    }
  }
}
.row-expand-box{
  max-width: 600px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  .row-expand-row{
    min-width: 250px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    .row-expand-label{
      min-width: 90px;text-align: right;padding-right: 10px;color: $mainColor;
    }
  }
}

.page-order-manage{
  // overflow-x: auto;
  // overflow-y: hidden;
  .inner-content{
    // min-width: 1602px;
    .sub-option, .col-list, .order-info-list{
      padding-left: 10px;padding-right: 10px;
    }
    .order-info-list{
      .order-info-item{
        margin-bottom: 20px;
        .top-ban{
          min-height: 50px;background-color: #F2F4F8;padding-left: 5px;padding-right: 5px;word-break: break-all;overflow: hidden;
          .top-ban-left{
            min-height: 50px;
            .el-checkbox__label{
              display: none;
            }
            .order-number, .order-create-date{
              padding-left: 10px;
              font-size:16px;
              font-weight:400;
              color: #4F5C62;
            }
          }
          .top-ban-right{
            min-height: 50px;
            .el-button{
              border:1px solid #26C6DA;
              background-color: #F2F4F8;
              color: #26C6DA;
            }
          }
        }
        .content{
          border-bottom: 1px solid #DEE2E6;
          border-top: 1px solid #DEE2E6;
          .order-item-list, .order-customer, .order-total, .order-review, .order-state{
            border-left: 1px solid #DEE2E6;
          }
          .order-customer, .order-total, .order-review, .order-state{
            padding: 10px;       
          }
          .order-state{
            border-right: 1px solid #DEE2E6;
          }
          .order-customer, .order-total, .order-review, .order-state{
            // height: 176px;
            height: 100%;
          }
          .order-review{
            font-size:13px;
            font-weight:400;
            color: #99ABB4;
            .review-item{
              min-height: 24px;line-height: 24px;margin-bottom: 10px;
              .el-rate{
                height: auto;
                min-height: 24px;
              }
              .avg-score-label{
                font-size:15px;
              }
              .score-label{
                display: inline-block;width: 60px;
              }
            }
          }
          .order-customer{
            .buyer-name, .buyer-tel, .deliver-time, .address, .order-comment{              
              min-height: 24px;line-height: 24px;
            }
            .buyer-name{
              font-size:15px;
              font-weight:400;
              color: $mainColor;
            }
            .buyer-tel, .deliver-time, .address, .order-comment{
              font-size:13px;
              font-weight:400;
              color: #99ABB4;
            }
          }
          .order-total{
            .order-qu-total, .order-sort-total, .order-inspect-total{
              font-size:15px;
              font-weight:400;
              color: #607D8B;
              min-height: 32px;line-height: 32px;
            }
          }
          .order-state{                 
            .item-state{
              font-size:15px;
              font-weight:400;
              color: #607D8B;
              min-height: 24px;min-line-height: 24px;
            }
            .item-detail{
              min-height: 24px;line-height: 24px;cursor: pointer;
              font-size:15px;
              font-weight:400;
              color:  $mainColor;
              &:hover{
                text-decoration:underline;
              }
            }
          }
          .order-item-list{
            padding-bottom: 60px;
            .order-item-pic{
              padding-left: 10px;padding-top: 10px;padding-bottom: 10px;width: 100%;max-width: 100%;
              .order-pic-box{
                width: 72px;height: 72px;cursor: pointer;
              }
              .name-box{
                max-width: calc(100% - 72px);-moz-max-width: calc(100% - 72px);
                .pro-name, .sku, .comment{
                  padding-left: 10px;
                  min-height: 24px;line-height: 24px;
                }
                .pro-name{
                  font-size:15px;
                  font-weight:400;
                  color: #607D8B;
                }
                .sku, .comment{
                  font-size:13px;
                  font-weight:400;
                  color: #99ABB4;
                }
                .sku{                  
                  .sku-name{
                    padding-right: 10px;
                  }
                }
              }
            }
            .item-price{
              width: 100%;padding-top: 10px;padding-bottom: 10px;
              font-size:15px;
              font-weight:400;
              color: #607D8B;
              .order-item-price, .order-sort-price, .order-inspect-price{
                min-height: 32px;line-height: 32px;
              }
            }
            .order-number{
              width: 100%;padding-top: 10px;padding-bottom: 10px;
              font-size:15px;
              font-weight:400;
              color: #607D8B;
              .order-number-item{
                min-height: 32px;line-height: 32px;
              }
            } 
            .item-total{
              width: 100%;padding-top: 10px;padding-bottom: 10px;padding-right: 10px;
              font-size:15px;
              font-weight:400;
              color: #607D8B;
              .order-item-total, .order-sort-total, .order-inspect-total{
                min-height: 32px;line-height: 32px;
              }
            }        
          }
          .ban-bottom{
            height: 60px;line-height: 60px;background-color: #E6E9EC;padding-left: 10px;
            position: absolute;left: 0;bottom: 0;right: 0;
            .row-collapse, .row-un-collapse{
              color: $mainColor;cursor: pointer;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .sub-option{
      padding-top: 10px;padding-bottom: 10px;
    }
    .tab-box{
      .el-tabs__item {
        font-size:15px;
        font-weight:400;
        color: #67757C;
        &.is-active{
          color: $mainColor;
        }
      }      
    }
    .col-list{
      padding-top: 5px;
      .row-col-list{
        border-bottom: 1px solid #DEE2E6;
        font-size: 16px;color: #4F5C62;font-weight:400;padding-bottom: 10px;
      }
    }
  }
  .tab-box{
    padding-left: 10px;padding-right: 10px;
  }
  .order-item-cell{
    padding: 0;
    .cell{
      padding: 0;
    }
    .order-number-box, .order-item-box-bottom{            
        height: 40px;
        line-height: 36px;
        font-weight: bolder;
      }
      .order-number-box{
        font-weight: normal;
        background-color: #F2F4F8;
        .order-number-txt{
          font-size: 16px;
          color:#1E88E5;
        }
        .order-number-box-l{
          float: left;padding-left: 5px;
        }
        .order-number-box-r{
          float: right;padding-right: 5px;
        }
      }
  }  
  .order-list{
    .order-img{
      cursor: pointer;
    }
    .check-all{
      background-color: #fff;padding-left: 10px;
    }
    background-color: #edf1f5;
    .list-item{
      width: 100%;border-right: 6px solid #edf1f5;border-top: 6px solid #edf1f5;background-color: #fff;
      &:hover{
        background-color: #f8f9fa;
      }
      .order-number, .order-date, .order-pro, .order-buyer{
        padding: 2px;overflow:hidden;text-overflow:ellipsis;
      }
      .order-date, .order-pro, .order-buyer{
        height: 25px;line-height: 25px;
      }
      .order-number{
        font-size: 16px;font-weight: bolder;color: $mainColor;
      }
      .el-button{
        border-radius: 0;
      }
      .el-button--mini, .el-button--mini.is-round{
        padding: 5px 8px;
      }
      .el-checkbox__label{
        display: none;
      }
    }
  }      
}

.el-button--success, .el-button--success:focus, .el-button--success:hover {
  color: #fff;
  background-color: $btnSuccess;
  border-color: $btnSuccess;
}
.el-button--primary, .el-button--primary:focus, .el-button--primary:hover{
  color: #fff;
  background-color: $btnPrimary;
  border-color: $btnPrimary;
}
.beihuodan{
  .title{
    text-align: center;
  }
}
.el-dialog__body{
  padding: 5px 10px;
}
.el-dialog__footer{
  padding-bottom: 7px;padding-top: 2px;
}
label{
  margin-bottom: 0;
}
.order-item-modal{
  .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
    margin-bottom: 5px;word-break:break-word;
  }
  .el-rate{
    line-height: 28px;
    .el-rate__item{
      vertical-align: baseline;
    }
  }
  .el-collapse{
    border:none;
    .el-collapse-item{
      .collapse-title{
        display: inline-block;color: $mainColor;width: 100px;text-align: right;padding-right: 12px;
      }
      .el-collapse-item__arrow.el-icon-arrow-right{
        color: $mainColor;
      }
    }
  }
}
.page-sort {
  .toubu_A {
    height: 80px;
    padding: 10px;
    .tliel_name {
      float: left
    }
    .addanniu {
      float: right;
    }
  }
}
.el-table__row.current-row{
  .cell{
    .el-tag{
      color: #fff;
      background-color: inherit;
      border-color: inherit;
    }
  }
}
.elem-table-selected-tag{
  margin-right: 10px;margin-bottom: 5px;
}
/* 滚动条样式 */
// ::-webkit-scrollbar{
//   width: 5px;
// }
// ::-webkit-scrollbar-thumb {
//   background: #000; 
// }
// ::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
//   background: #EDEDED;
// }